:root {
	--generalFont: "Work Sans", sans-serif;
	--mainFont: "Raleway", sans-serif;
}

.homepage-bg {
	background: linear-gradient(rgba(125, 206, 19, 0.4), rgba(125, 206, 19, 0.4)),
		url(../img/background.jpeg);
	background-size: cover;
	background-position: center center;
}

html,
body {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}

body {
	font-family: var(--mainFont);
	font-size: 1.6rem;
	line-height: 2;
	text-align: center;
}

p,
h1,
h4,
header {
	margin: 0;
}

header {
	background-color: #383838;
	color: greenyellow;
}

main {
	width: 80%;
	margin: auto;
}

footer {
	background-color: #383838;
	padding: 1rem;
	color: greenyellow;
}

.integrantes {
	display: grid;
	grid-template: auto / repeat(3, 33.3%);
}

.integrante {
	margin: 1rem;
}

.integrante img {
	width: 100%;
}

.seccion {
	margin: 2rem;
}

.integrante,
.seccion {
	background-image: linear-gradient(
		to bottom right,
		rgba(241, 238, 233, 1),
		rgba(241, 238, 233, 0.5)
	);
	border-radius: 1rem;
	padding: 1rem;
}

.functions-btns {
	display: auto / repeat (2, 50%);
}

.function-btn {
	background-color: #383838;
	/* Green */
	border-radius: 1rem;
	color: greenyellow;
	padding: 1rem;
	margin: 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.function-btn:hover {
	background-color: greenyellow;
	color: #383838;
	transition: 1s;
}

@media (max-width: 744px) {
	.integrantes,
	.functions-btns {
		display: flex;
		flex-direction: column;
	}
}

.gridColms {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10;
}
